/* 
palette:
#EFEFEF anti-flash white
#1D3461 eerie black
#3E6990  lapis lazuli
#B27092 sky magenta
*/

body {
    color: #1D3461;
    overflow-y: hidden;
    font-family: 'Lucida Sans Typewriter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    background: #EFEFEF;
}

.column {
    position: relative;
    border: #1D3461 solid 2px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sideColumn {
    user-select: none;
    font-size: 20px;
}

.folder {
    cursor: pointer;
    margin: 2px;
    margin-bottom: 8px;
    padding: 4px;
    border: solid #1D3461 2px;
    text-align: center;
}

.folder:hover {
    background: #1D3461;
    color: #EFEFEF;
}

.note {
    cursor: pointer;
    margin: 2px;
    margin-bottom: 8px;
    padding: 4px;
    border: solid #1D3461 2px;
    text-align: center;
}

.note:hover {
    background: #1D3461;
    color: #EFEFEF;
}

#noteTitle {
    padding: 4px;
    background: none;
    border: none;
    font-size: 20px;
}

#noteData {
    margin-top: 12px
}

#displayTitle {
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 2px solid #1D3461;
}

.sideColIcon {
    position: relative;
    float: left;
    /* bottom: 0px;
    right: 0px; */
    cursor: pointer;
    /* border: 1px solid black;
    border-radius: 50%; */
}

.sideColIconTray {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sideColIcon:hover {
    background: rgba(0,0,0,0.2);
}

#folderInput {
    width: 200px;
}

#folderInputContainer {
    position: absolute;
    right: 80px;
    z-index: 20;
}

.trashIcon {
    width: 32px;
}

.addIcon {
    width: 32px;
}

.ql-toolbar {
    display: none;
}

#update {
    position: absolute;
    bottom: 16px;
    cursor:pointer; 
    width:fit-content; 
    border:black solid 2px; 
    padding:6px; 
    margin-top:12px;
}